[submodule "SummerFields"]
	path = SummerFields
	url = https://github.com/SummerFields/SummerFields
[submodule "Programmer-Art-Plus"]
	path = Programmer-Art-Plus
	url = https://github.com/Crackers0106/Programmer-Art-Plus
